## Django config
DJANGO_SETTINGS_MODULE=geochimp.settings.settings
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,app
SECRET_KEY='some_secret_key'
# this isn't relevant for devserver, but necessary for prod/nginx
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://localhost

# Postgres variables only relevant when running in Docker
POSTGRES_USER=geochimp
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=geochimp
# without this variable, Django is configured to fall back to sqlite
#DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}


## Geochimp application config
# matches e.g. CAMERA1_20220801
CAMERAFOLDER_REGEX=CAMERA\d+_\d{8}
# # matches e.g. CAMERA2_4_08_2022
# CAMERAFOLDER_REGEX=CAMERA\d+_\d{1,2}_\d{2}_\d{4}

# parses e.g. 20220801
CAMERA_SETUP_DATE_FORMAT=%Y%m%d
# # parses e.g. 4_08_2022
# CAMERA_SETUP_DATE_FORMAT=%m_%d_%Y

# which fields from survey123 submissions to set on photo metadata,
# mapped to label for metadata attribute (e.g. `project_name` will be set as "Project Name")
# When parsed by django-environ, the variable below will be a dict like:
# {'project_name': 'Project Name', 'your_name': 'Forest Monitor name', ...}
# If a value is a choice field with "other" option, use the field name with "_other".
# this way, we don't need to check all fields if there is an "other" option, but rather
# just have to handle those.
# If a value contains a mapping of values, like `SHAPE`, provide the attributes you want to
# extract separated by ~, e.g. SHAPE=x~y
METADATA_ATTRIBUTES=project_name=Project Name,your_name=Forest Monitor name,camera_id=Camera ID,date_and_time_of_camera_setup_o=Date and time of camera setup,camera_attached_to__other=Camera attached to,camera_height_cm=Height of camera,name_of_the_area_deployed=Name of the area deployed,camera_make_other=Camera make,what_feature_is_the_camera_targ_other=Camera targeting,comments=Comments,SHAPE=x~y
# MediaValet only supports a restricted set of attributes, like X,Y (GPS coordinates)
# Unless more attributes are added in MediaValet config, we can only set those.
# For now, we will set all fields in METADATA_ATTRIBUTES_DIRECT directly. Fields in 
# METADATA_ATTRIBUTES but not in METADATA_ATTRIBUTES_DIRECT will be added to the "Description"
# field
METADATA_ATTRIBUTES_DIRECT=x,y
# in case this attribute gets renamed, even though that's very unlikely
METADATA_DESCRIPTION_ATTRIBUTE=Description

# whether to overwrite existing assets when adding GPS attributes to metadata
# If yes, asset files will be deleted and re-uploaded with GPS coordinates metadata
# If no, only the attributes will be updated in MediaValet, files will remain untouched
# This could be preferred if e.g. the asset IDs are already used somewhere
# @TODO: actually implement this
OVERWRITE_ASSETS_WITH_GPS_EXIF=yes
# to be able to allow updating of assets without decision-maker sign-off
REQUIRE_DOCUSIGN_FOR_ASSET_TAGGING=yes
# @TODO: actually implement this
REQUIRE_DOCUSIGN_FOR_ASSET_UPLOAD=yes


## DocuSign config
DOCUSIGN_API_ACCOUNT_ID=your_docusign_api_account_id
DOCUSIGN_USER_ID=your_docusign_user_id
DOCUSIGN_INTEGRATION_KEY=your_docusign_integration_key
# change this for prod
DOCUSIGN_OAUTH_HOST_NAME=account-d.docusign.com
DOCUSIGN_BASE_URL=https://demo.docusign.net
DOCUSIGN_ASSET_TAGGING_POWERFORM_URL=some_powerform_url_that_redirects_to_http://localhost:8000/docusign/tag/[[powerform_submission_id]]/
DOCUSIGN_MAP_PUBLISH_POWERFORM_URL=some_powerform_url_that_redirects_to_http://localhost:8000/docusign/map/[[powerform_submission_id]]/
# to specify which decision-maker should sign which form. should be a mapping later,
# to specify different recipients for different workflows
# @TODO: actually use this setting
DOCUSIGN_RECIPIENTS=recipient@email.tld


## Esri config
ESRI_SURVEY_ID=id_of_survey_in_survey123
ESRI_USERNAME=your_esri_username
ESRI_PASSWORD='your_esri_password'


## MediaValet config
# which category/folder to use as parent for new categories (folders)
MEDIAVAULT_BASE_CATEGORY=id_of_mediavalet_parent_folder
MEDIAVALET_SUBSCRIPTION_KEY=mediavalet_subscription_key
MEDIAVALET_CLIENT_ID=your_mediavalet_client_id
MEDIAVALET_CLIENT_SECRET=your_mediavalet_client_secret
MEDIAVALET_USERNAME=your_mediavalet_username
MEDIAVALET_PASSWORD='your_mediavalet_password'
