{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Geochimp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" href="{% static 'img/geochimp_logo.svg' %}" type="image/svg+xml">
	{% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
	{% block content %}
	<div class="container mx-auto">
		<section class="flex items-center justify-center">
			<div class="grid grid-cols-1 p-6 pb-16">
				<a href="{% url 'index' %}">
					<img src="{% static 'img/geochimp_logo.svg' %}" height="200" width="200" alt="Geochimp logo" />
				</a>
			</div>
		</section>
	</div>
	{% endblock content %}
</body>

</html>
