{% extends "base.html" %}

{% load static %}
{% load tailwind_filters %}


{% block content %}
{{ block.super }}
<div class="container mx-auto">

    <section class="flex items-center justify-center">
        <h1 class="mb-12">Please choose submissions that you want to display on the map</h1>

    </section>

    <section class="flex items-center justify-center">

        <form action="" method="post">
            <div>
                {% csrf_token %}

                <label for="id_submission_choices">
                    {{ form.submission_choices.label }}
                </label>
                <p class="my-5">
                    {{ form.submission_choices }}
                </p>


            </div>
            <div>
                <input type="submit" value="Submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer jus
                   tify-right">
            </div>
        </form>



    </section>

</div>
{% endblock content %}
